Importaci√≥n de librerias

In [31]:
import pandas as pd
import numpy as np

Lectura del dataset

In [32]:
df = pd.read_csv("data\saudi-pro-league-transfers.csv")

In [33]:
df.head()

,club_name,player_name,age,position,club_involved_name,fee,transfer_movement,transfer_period,fee_cleaned,league_name,year,season,country
0,Al-Hilal SFC,Khaled Aziz,18.0,Defensive Midfield,Unknown,?,in,Summer,NaN,Saudi Professional League,2000,2000/2001,Saudi Arabia
1,Al-Hilal SFC,Sami Al-Jaber,27.0,Centre-Forward,Wolves,loan transfer,out,Summer,NaN,Saudi Professional League,2000,2000/2001,Saudi Arabia
2,Al-Hilal SFC,Fahad Al-Ghesheyan,26.0,Right Winger,Al-Nassr,-,out,Summer,NaN,Saudi Professional League,2000,2000/2001,Saudi Arabia
3,Al-Hilal SFC,Saleh Al-Salloumi,37.0,Goalkeeper,Retired,-,out,Summer,NaN,Saudi Professional League,2000,2000/2001,Saudi Arabia
4,Al-Hilal SFC,Elijah Litana,29.0,Centre-Back,Retired,-,out,Summer,NaN,Saudi Professional League,2000,2000/2001,Saudi Arabia

In [34]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7858 entries, 0 to 7857
Data columns (total 13 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   club_name           7858 non-null   object
 1   player_name         7858 non-null   object
 2   age                 7755 non-null   float64
 3   position            7858 non-null   object
 4   club_involved_name  7858 non-null   object
 5   fee                 7844 non-null   object
 6   transfer_movement   7858 non-null   object
 7   transfer_period     7858 non-null   object
 8   fee_cleaned         2374 non-null   float64
 9   league_name         7858 non-null   object
 10  year                7858 non-null   int64
 11  season              7858 non-null   object
 12  country             7858 non-null   object
dtypes: float64(2), int64(1), object(10)
memory usage: 798.2+ KB

# Limpieza por columnas

## Club Name

Verificamos que no haya nombre de clubes mal escritos que aparezcan mas de una vez

In [35]:
team_list = df['club_name'].unique().tolist()

In [36]:
team_list.sort()

In [37]:
print(team_list)

['Abha Club', 'Al-Adalah FC', 'Al-Ahli SFC', 'Al-Ain FC', 'Al-Ansar', 'Al-Batin FC', 'Al-Ettifaq FC', 'Al-Faisaly FC', 'Al-Fateh SC', 'Al-Fayha FC', 'Al-Hazem SC', 'Al-Hilal SFC', 'Al-Nahdah FC', 'Al-Nassr FC', 'Al-Okhdood Club', 'Al-Orobah FC', 'Al-Qadsiah FC', 'Al-Raed SFC', 'Al-Riyadh SC', 'Al-Shabab FC', 'Al-Shoalah FC', 'Al-Taawoun FC', 'Al-Tai FC', 'Al-Watani', 'Al-Wehda FC', 'Damac FC', 'Hajer Club', 'Ittihad Club', 'Khaleej FC', 'Najran SC', 'Ohod Club']

In [38]:
len(df['club_name'].unique().tolist())

31

In [39]:
#df['club_name'] = df['club_name'].apply(str.lower)

In [40]:
df['club_name'].unique()

array(['Al-Hilal SFC', 'Ittihad Club', 'Al-Nassr FC', 'Al-Shabab FC',
       'Al-Ahli SFC', 'Al-Ettifaq FC', 'Al-Qadsiah FC', 'Al-Riyadh SC',
       'Al-Wehda FC', 'Al-Shoalah FC', 'Khaleej FC', 'Al-Tai FC',
       'Al-Ansar', 'Ohod Club', 'Al-Hazem SC', 'Al-Faisaly FC',
       'Najran SC', 'Al-Watani', 'Al-Raed SFC', 'Abha Club',
       'Al-Fateh SC', 'Al-Taawoun FC', 'Hajer Club', 'Al-Nahdah FC',
       'Al-Orobah FC', 'Al-Batin FC', 'Al-Fayha FC', 'Damac FC',
       'Al-Adalah FC', 'Al-Ain FC', 'Al-Okhdood Club'], dtype=object)

Player Name

In [41]:
player_list = df['player_name'].unique().tolist()

In [42]:
len(player_list)

2442

In [43]:
#df['player_name'] = df['player_name'].apply(str.lower)

Age

In [44]:
median = df['age'].median()
print(median)

26.0

In [45]:
df['age'] = df['age'].fillna(median)

In [46]:
df['age'].head()

0    18.0
1    27.0
2    26.0
3    37.0
4    29.0
Name: age, dtype: float64

In [47]:
df['age'] = df['age'].apply(int)

Position

In [48]:
df['position'].unique()

array(['Defensive Midfield', 'Centre-Forward', 'Right Winger',
       'Goalkeeper', 'Centre-Back', 'Attacking Midfield', 'Left Midfield',
       'Left Winger', 'Attack', 'Right Midfield', 'Midfield',
       'Central Midfield', 'Right-Back', 'Second Striker', 'Sweeper',
       'Defence', 'Left-Back'], dtype=object)

In [49]:
df['specific position'] = df['position']

In [50]:
df['position'] = df['position'].replace('Defensive Midfield', 'Midfield')
df['position'] = df['position'].replace('Centre-Forward', 'Forward')
df['position'] = df['position'].replace('Right Winger', 'Forward')
df['position'] = df['position'].replace('Centre-Back', 'Defence')

In [51]:
df['position'] = df['position'].replace('Attacking Midfield', 'Midfield')
df['position'] = df['position'].replace('Left Midfield', 'Midfield')
df['position'] = df['position'].replace('Left Winger', 'Forward')
df['position'] = df['position'].replace('Attack', 'Forward')
df['position'] = df['position'].replace('Right Midfield', 'Midfield')
df['position'] = df['position'].replace('Central Midfield', 'Midfield')
df['position'] = df['position'].replace('Right-Back', 'Defence')
df['position'] = df['position'].replace('Second Striker', 'Forward')
df['position'] = df['position'].replace('Sweeper', 'Defence')
df['position'] = df['position'].replace('Left-Back', 'Defence')

Club Involved

In [52]:
# C√≥digo no optimizado
"""
for index, value in df['club_involved_name'].items():
    if 'Al-Ahli' in value:
        df['club_involved_name'] = df['club_involved_name'].replace(value, 'Al-Ahli SC')
for index, value in df['club_involved_name'].items():
    if 'Abha' in value:
        df['club_involved_name'] = df['club_involved_name'].replace(value, 'Abha Club')
for index, value in df['club_involved_name'].items():
    if 'Al-Batin' in value:
        df['club_involved_name'] = df['club_involved_name'].replace(value, 'Al-Batin')
for index, value in df['club_involved_name'].items():
    if 'Al-Ettifaq' in value:
        df['club_involved_name'] = df['club_involved_name'].replace(value, 'Al-Ettifaq')
for index, value in df['club_involved_name'].items():
    if 'Al-Faisaly U23' in value:
        df['club_involved_name'] = df['club_involved_name'].replace(value, 'Al-Faisaly FC')
for index, value in df['club_involved_name'].items():
    if 'Al-Fateh' in value:
        df['club_involved_name'] = df['club_involved_name'].replace(value, 'Al-Fateh')
for index, value in df['club_involved_name'].items():
    if 'Al-Fayha' in value:
        df['club_involved_name'] = df['club_involved_name'].replace(value, 'Al-Fayha FC')
for index, value in df['club_involved_name'].items():
    if 'Al-Gharafa' in value:
        df['club_involved_name'] = df['club_involved_name'].replace(value, 'Al-Gharafa SC')
for index, value in df['club_involved_name'].items():
    if 'Al-Hilal' in value:
        df['club_involved_name'] = df['club_involved_name'].replace(value, 'Al-Hilal FC')
for index, value in df['club_involved_name'].items():
    if 'Al-Jazeera Club' in value:
        df['club_involved_name'] = df['club_involved_name'].replace(value, 'Al-Jazira Sporting Club')
for index, value in df['club_involved_name'].items():
    if 'Al-Jazira' in value:
        df['club_involved_name'] = df['club_involved_name'].replace(value, 'Al-Jazira Sporting Club')
for index, value in df['club_involved_name'].items():
    if 'Al-Nassr' in value:
        df['club_involved_name'] = df['club_involved_name'].replace(value, 'Al-Nasr SC')
for index, value in df['club_involved_name'].items():
    if 'Al-Qadsiah' in value:
        df['club_involved_name'] = df['club_involved_name'].replace(value, 'Al-Qadsiah FC')
for index, value in df['club_involved_name'].items():
    if 'Al-Raed' in value:
        df['club_involved_name'] = df['club_involved_name'].replace(value, 'Al-Raed')
for index, value in df['club_involved_name'].items():
    if 'Al-Riyadh' in value:
        df['club_involved_name'] = df['club_involved_name'].replace(value, 'Al-Riyadh SC')
for index, value in df['club_involved_name'].items():
    if 'Al-Shaab' in value:
        df['club_involved_name'] = df['club_involved_name'].replace(value, 'Al-Shabab SC')
for index, value in df['club_involved_name'].items():
    if 'Al-Shabab' in value:
        df['club_involved_name'] = df['club_involved_name'].replace(value, 'Al-Shabab SC')
for index, value in df['club_involved_name'].items():
    if 'Al-Taawoun' in value:
        df['club_involved_name'] = df['club_involved_name'].replace(value, 'Al-Taawoun')
for index, value in df['club_involved_name'].items():
    if 'Al-Tai' in value:
        df['club_involved_name'] = df['club_involved_name'].replace(value, 'Al-Tai')
for index, value in df['club_involved_name'].items():
    if 'Al-Wehda' in value:
        df['club_involved_name'] = df['club_involved_name'].replace(value, 'Al-Wehda')
for index, value in df['club_involved_name'].items():
    if 'Al-Wehda' in value:
        df['club_involved_name'] = df['club_involved_name'].replace(value, 'Al-Wehda')
for index, value in df['club_involved_name'].items():
    if 'Damac' in value:
        df['club_involved_name'] = df['club_involved_name'].replace(value, 'Damac FC')
for index, value in df['club_involved_name'].items():
    if 'Ittihad C. U23' in value:
        df['club_involved_name'] = df['club_involved_name'].replace(value, 'Ittihad Club')
"""

"\nfor index, value in df['club_involved_name'].items():\n    if 'Al-Ahli' in value:\n        df['club_involved_name'] = df['club_involved_name'].replace(value, 'Al-Ahli SC')\nfor index, value in df['club_involved_name'].items():\n    if 'Abha' in value:\n        df['club_involved_name'] = df['club_involved_name'].replace(value, 'Abha Club')\nfor index, value in df['club_involved_name'].items():\n    if 'Al-Batin' in value:\n        df['club_involved_name'] = df['club_involved_name'].replace(value, 'Al-Batin')\nfor index, value in df['club_involved_name'].items():\n    if 'Al-Ettifaq' in value:\n        df['club_involved_name'] = df['club_involved_name'].replace(value, 'Al-Ettifaq')\nfor index, value in df['club_involved_name'].items():\n    if 'Al-Faisaly U23' in value:\n        df['club_involved_name'] = df['club_involved_name'].replace(value, 'Al-Faisaly FC')\nfor index, value in df['club_involved_name'].items():\n    if 'Al-Fateh' in value:\n        df['club_involved_name'] = df['club_involved_name'].replace(value, 'Al-Fateh')\nfor index, value in df['club_involved_name'].items():\n    if 'Al-Fayha' in value:\n        df['club_involved_name'] = df['club_involved_name'].replace(value, 'Al-Fayha FC')\nfor index, value in df['club_involved_name'].items():\n    if 'Al-Gharafa' in value:\n        df['club_involved_name'] = df['club_involved_name'].replace(value, 'Al-Gharafa SC')\nfor index, value in df['club_involved_name'].items():\n    if 'Al-Hilal' in value:\n        df['club_involved_name'] = df['club_involved_name'].replace(value, 'Al-Hilal FC')\nfor index, value in df['club_involved_name'].items():\n    if 'Al-Jazeera Club' in value:\n        df['club_involved_name'] = df['club_involved_name'].replace(value, 'Al-Jazira Sporting Club')\nfor index, value in df['club_involved_name'].items():\n    if 'Al-Jazira' in value:\n        df['club_involved_name'] = df['club_involved_name'].replace(value, 'Al-Jazira Sporting Club')\nfor index, value in df['club_involved_name'].items():\n    if 'Al-Nassr' in value:\n        df['club_involved_name'] = df['club_involved_name'].replace(value, 'Al-Nasr SC')\nfor index, value in df['club_involved_name'].items():\n    if 'Al-Qadsiah' in value:\n        df['club_involved_name'] = df['club_involved_name'].replace(value, 'Al-Qadsiah FC')\nfor index, value in df['club_involved_name'].items():\n    if 'Al-Raed' in value:\n        df['club_involved_name'] = df['club_involved_name'].replace(value, 'Al-Raed')\nfor index, value in df['club_involved_name'].items():\n    if 'Al-Riyadh' in value:\n        df['club_involved_name'] = df['club_involved_name'].replace(value, 'Al-Riyadh SC')\nfor index, value in df['club_involved_name'].items():\n    if 'Al-Shaab' in value:\n        df['club_involved_name'] = df['club_involved_name'].replace(value, 'Al-Shabab SC')\nfor index, value in df['club_involved_name'].items():\n    if 'Al-Shabab' in value:\n        df['club_involved_name'] = df['club_involved_name'].replace(value, 'Al-Shabab SC')\nfor index, value in df['club_involved_name'].items():\n    if 'Al-Taawoun' in value:\n        df['club_involved_name'] = df['club_involved_name'].replace(value, 'Al-Taawoun')\nfor index, value in df['club_involved_name'].items():\n    if 'Al-Tai' in value:\n        df['club_involved_name'] = df['club_involved_name'].replace(value, 'Al-Tai')\nfor index, value in df['club_involved_name'].items():\n    if 'Al-Wehda' in value:\n        df['club_involved_name'] = df['club_involved_name'].replace(value, 'Al-Wehda')\nfor index, value in df['club_involved_name'].items():\n    if 'Al-Wehda' in value:\n        df['club_involved_name'] = df['club_involved_name'].replace(value, 'Al-Wehda')\nfor index, value in df['club_involved_name'].items():\n    if 'Damac' in value:\n        df['club_involved_name'] = df['club_involved_name'].replace(value, 'Damac FC')\nfor index, value in df['club_involved_name'].items():\n    if 'Ittihad C. U23' in value:\n        df['club_involved_name'] = df['club_involved_name'].replace(value, 'Ittihad Club')\n"

In [53]:
# Crear un diccionario de mapeo de nombres de clubes
club_mapping = {
    'Al-Ahli': 'Al-Ahli SC',
    'Abha': 'Abha Club',
    'Al-Batin': 'Al-Batin',
    'Al-Ettifaq': 'Al-Ettifaq',
    'Al-Faisaly U23': 'Al-Faisaly FC',
    'Al-Fateh': 'Al-Fateh',
    'Al-Fayha': 'Al-Fayha FC',
    'Al-Gharafa': 'Al-Gharafa SC',
    'Al-Hilal': 'Al-Hilal FC',
    'Al-Jazeera Club': 'Al-Jazira Sporting Club',
    'Al-Jazira': 'Al-Jazira Sporting Club',
    'Al-Nassr': 'Al-Nasr SC',
    'Al-Nasr': 'Al-Nasr SC',
    'Al-Qadsiah': 'Al-Qadsiah FC',
    'Al-Raed': 'Al-Raed',
    'Al-Riyadh': 'Al-Riyadh SC',
    'Al-Shaab': 'Al-Shabab SC',
    'Al-Shabab': 'Al-Shabab SC',
    'Al-Shoalah U23': 'Al-Shoalah',
    'Al-Taawoun': 'Al-Taawoun',
    'Al-Tai': 'Al-Tai',
    'Al-Wehda': 'Al-Wehda',
    'Damac': 'Damac FC',
    'Ittihad C. U23': 'Ittihad Club'
}

# Funci√≥n para aplicar el reemplazo con coincidencia parcial
def replace_club_name(name):
    for key in club_mapping.keys():
        if key in name:
            return club_mapping[key]
    return name

# Aplicar la funci√≥n para reemplazar los nombres de clubes
df['club_involved_name'] = df['club_involved_name'].apply(replace_club_name)

# Ahora df['club_involved_name'] tiene los nombres de clubes reemplazados

In [54]:
club_involved_list = df['club_involved_name'].unique().tolist()
club_involved_list.sort()
print(club_involved_list)

["1.FC K'lautern", '1.FSV Mainz 05', '3 de Febrero', 'A. Baghdad SC', 'ABC FC', 'AC Ajaccio', 'AC Bellinzona', 'AC Milan', 'AC Tripoli', 'ACS Poli', 'ACSM Poli Iasi', 'ADI Metap√°n', 'AE Kifisias', 'AEK Athens', 'AFAD Dj√©kanou', 'AFC Eskilstuna', 'AIK', 'AJ Auxerre', 'AO Xanthi', 'AOK Kerkyra', 'APOEL Nicosia', 'AS Gab√®s', 'AS Livorno', 'AS Lyon-Duch√®re', 'AS Marsa', 'AS Nancy', 'AS Roma', 'AS Saint-Priest', 'AS Vita Club', 'ASA', 'ASC Yakaar', 'ATK Mohun Bagan', 'Aalborg BK', 'Aarhus GF', 'Abha Club', 'Adana Demirspor', 'Adelaide United', 'Africa Sports', 'Ajax', 'Ajax Cape Town', 'Ajman Club', 'Akhmat Grozny', 'Aktobe', 'Al-Adalah', 'Al-Ahed', 'Al-Ahli SC', 'Al-Ain FC', 'Al-Ansar', 'Al-Anwar Club', 'Al-Arabi Irbid', 'Al-Arabi SC', 'Al-Batin', 'Al-Bukiryah FC', 'Al-Dhafra FC', 'Al-Dhaid', 'Al-Diraiyah FC', 'Al-Ettifaq', 'Al-Faisaly FC', 'Al-Faisaly SC', 'Al-Fateh', 'Al-Fayha FC', 'Al-Gharafa SC', 'Al-Hamriyah', 'Al-Hazem', 'Al-Hilal FC', 'Al-Hussein SC', 'Al-Ittifaq FC', 'Al-Jabalain', 'Al-Jahra SC', 'Al-Jaish SC', 'Al-Jamahiriyah', 'Al-Jandal SC', 'Al-Jazira Sporting Club', 'Al-Jeel', 'Al-Jubail', 'Al-Karamah SC', 'Al-Kawkab', 'Al-Khaburah SC', 'Al-Kharaitiyat', 'Al-Kholood', 'Al-Khor SC', 'Al-Lewaa Club', 'Al-Majd', 'Al-Markhiya SC', 'Al-Merrikh SC', 'Al-Mesaimeer', 'Al-Mojzel', 'Al-Muharraq', 'Al-Nahdah FC', 'Al-Nairyah Club', 'Al-Najma', 'Al-Najma SC', 'Al-Nasr SC', 'Al-Nojoom FC', 'Al-Okhdood', 'Al-Orobah FC', 'Al-Orouba SC', 'Al-Qadsiah FC', 'Al-Qaisumah FC', 'Al-Raed', 'Al-Ramtha SC', 'Al-Rawdah SC', 'Al-Rayyan SC', 'Al-Riffa SC', 'Al-Riyadh SC', 'Al-Sadd SC', 'Al-Safa', 'Al-Sahel Club', 'Al-Sailiya SC', 'Al-Salmiya SC', 'Al-Salt SC', 'Al-Shabab SC', 'Al-Shahania SC', 'Al-Shamal SC', 'Al-Shoalah', 'Al-Shorta SC', 'Al-Suqoor', 'Al-Suwaiq', 'Al-Taawoun', 'Al-Tadamon SC', 'Al-Tai', 'Al-Taqadom', 'Al-Taraji', 'Al-Thoqbah', 'Al-Wahda FC', 'Al-Wahda SC', 'Al-Wakrah SC', 'Al-Washm', 'Al-Wasl', 'Al-Watani', 'Al-Wehda', 'Al-Yarmouk', 'Al-Zawraa SC', 'Alav√©s', 'Alcobendas', 'Alecrim', 'Alianza Lima', 'Alianza Petrol.', 'Altay SK', 'Altinordu', 'Always Ready', 'AmaZulu FC', 'Amiens SC', 'Am√©rica', 'Am√©rica-RJ', 'Am√©rica-RN', 'Am√©rica-SP', 'Anadia FC', 'Anag. Karditsas', 'Anderlecht U19', 'Antalyaspor', 'Antofagasta', 'Apol. Limassol', 'Apollon Smyrnis', 'Arar FC', 'Arax√°', 'Arda Kardzhali', 'Argentinos Jrs.', 'Aris Limassol', 'Arka Gdynia', 'Arm. Bielefeld', 'Army Utd.', 'Arouca', 'Arsenal', 'Arsenal Sarand√≠', 'Asante Kotoko', 'Assyriska FF', 'Asteras Tripoli', 'Astra Giurgiu', 'Athinaikos', 'Athletic', 'Athletico-PR', 'Atl. Nacional', 'Atlanta', 'Atl√©tico-GO', 'Atl√©tico-MG', 'Atl√©tico-PR', 'Atromitos', 'Audax Italiano', 'Audax-RJ', 'Aurora', 'Austria Vienna', 'Ava√≠ FC', 'Avispa Fukuoka', 'Azam FC', 'BJ Guoan', 'BJ Renhe', 'BSC Young Boys', 'Ban', 'Bangkok Utd.', 'Bara√∫nas', 'Barcelona', 'Bargh Shiraz FC', 'Barueri', 'Basaksehir', 'Bayern Munich', 'Belasica', 'Belenenses', 'Benevento', 'Benfica', 'Berekum Chelsea', 'Beroe', 'Besiktas', 'Bisha FC', 'Bnei Sakhnin', 'Boavista', 'Boca Juniors', 'Bod√∏/Glimt', 'Bold FC', 'Bolton', 'Bol√≠var', 'Bor. Dortmund', 'Botafogo', 'Botafogo-SP', 'Boussu Dour', 'Boyac√° Chic√≥', 'Braga B', 'Bragantino', 'Brasiliense', 'Brisbane Roar', 'Brora Rangers', 'Budaiya Club', 'Buriram Utd.', 'Bursaspor', 'Busaiteen Club', 'Busan IPark', 'C. Rizespor', 'CA Batna', 'CA Bizertin', 'CA Colon', 'CC Yatai', 'CD Am√©rica', 'CD Cruz Azul', 'CD El Nacional', 'CD F√°tima', 'CD Legan√©s', 'CD Macar√°', 'CD Numancia', 'CD Olimpia', 'CFR Cluj', 'CFZ-DF', 'CO Bamako', 'CQ Lifan', 'CR Belouizdad', 'CR B√©ni Thour', 'CRB', 'CS Constantine', 'CS Emelec', 'CS Hammam-Lif', 'CS Sfaxien', 'CSA', 'CSD Municipal', 'CSKA-Sofia', 'Cagliari Calcio', 'Caldas Novas', 'Career break', 'Casertana', 'Caxias-RS', 'Cear√° SC', 'Celta de Vigo', 'Celtic', 'Central C√≥rdoba', 'Cerezo Osaka', 'Cerro Porte√±o', 'Chacarita Jrs.', 'Chapecoense', 'Chaux-de-Fonds', 'Chaves', 'Chelsea', 'Chemnitzer FC', 'Chennaiyin FC', 'Chernomorets N.', 'Chiangrai Utd.', 'Chicago', 'Cincinnati', 'Civitanovese', 'Clermont Foot', 'Club Africain', 'Club Brugge', 'Club General', 'Club Tijuana', 'Coast Stars', 'Cobreloa', 'Cobresol', 'Coimbra', 'Colo Colo', 'Columbus', 'Comercial-SP', 'Concordia', 'Corinthians', 'Coritiba FC', 'Coruripe', 'Coton Sport FC', 'Cova Piedade', 'Crici√∫ma EC', 'Cruzeiro', 'Cuiab√°-MT', 'CyD Leonesa', 'C√©sar Vallejo', 'C√≥rdoba CF', 'D.C. United', 'DN≈† Zavrƒç', 'Daejeon Citizen', 'Dallas', 'Damac FC', 'Danubio FC', 'De Graafschap', 'Dep. Cuenca', 'Dep. La Coru√±a', 'Deportes Tolima', 'Deportivo Cali', 'Desp. Brasil', 'Desportivo Aves', 'Dhofar Club', 'Diables Noirs', 'Dibba Fujairah', 'Difa√¢ El Jadida', 'Dijon', 'Dinamo Minsk', 'Dinamo Zagreb', 'Djoliba AC', 'Djurg√•rden', 'Dnipro', 'Dorados Sinaloa', 'Dubai CSC', 'Dynamo Kyiv', 'E. Frankfurt', 'EC Bahia', 'EC Vit√≥ria', 'ES Sahel', 'ES S√©tif', 'ES Zarzis', 'East Riffa', 'Edessaikos', 'El Ahly', 'El Mahalla', 'El Makasa', 'El Mareekh', 'El Masry', 'El Mokawloon', 'El-Jaish', 'Elche CF', 'Emirates Club', 'Enisey', 'Enppi SC', 'Entag El Harby', 'Entente SSG', 'Enugu Rangers', 'Erbil SC', 'Espanyol', 'Esperance', 'Esteghlal FC', 'Estoril Praia', 'Ethn. Piraeus', 'Ethnikos', 'F. D√ºsseldorf', 'FAR Rabat', 'FBC Melgar', 'FC Aarau', 'FC Aboomoslem', 'FC Arges', 'FC Astana', 'FC Baniyas', 'FC Basel', 'FC Botosani', 'FC Dinamo', 'FC Djurs', 'FC Gueugnon', 'FC Heartland', 'FC Ju√°rez', 'FC Luzern', 'FC Marco', 'FC Metz', 'FC Midtjylland', 'FC Nantes', 'FC Porto', 'FC Seoul', 'FC Sheriff', 'FC Sion', 'FC Sochaux', 'FC St. Gallen', 'FC St. Pauli', 'FC Thun', 'FC Timisoara', 'FC Tokyo', 'FC Utrecht', 'FC Van', 'FC Vaslui', 'FC Viitorul', 'FC Z√ºrich', 'FCSB', 'FK Bezanija', 'FK Kuk√´si', 'FK Partizani', 'FK Sarajevo', 'FK Senica', 'FUS Rabat', 'Fagiano Okayama', 'Famalic√£o', 'Fanja SC', 'Farense', 'Fenerbahce', 'Ferencv√°ros', 'Ferrovi√°ria', 'Feyenoord', 'Figueirense FC', 'Flamengo', 'Flamurtari FC', 'Fluminense', 'Forex Brasov', 'Fortaleza', 'Fortuna Sittard', 'Fujairah SC', 'Fulham', 'F√°tima', 'G. Bordeaux', 'GAIS', 'GKS Belchatow', 'GOSK Gabela', 'Galatasaray', 'Galo Maring√°', 'Gamba Osaka', 'Gateway FC', 'Gaz Metan', 'Gaziantep FK', 'Gaziantepspor', 'Gebhardshagen', 'Genclerbirligi', 'Genoa', 'Gil Vicente', 'Gimnasia', 'Gimn√†stic', 'Giresunspor', 'Girona', 'Goi√°s', 'Gold Coast Utd.', 'Granada CF', 'Grasshoppers', 'Gr√™mio', 'GuaZ FC', 'Guarani', 'Guaratinguet√°', 'Gwangju FC', 'G√∂ztepe', 'HAGL FC', 'HJK Helsinki', 'HNK Gorica', 'HNK Rijeka', 'Hajduk Split', 'Hajer', 'Hajer Club U23', 'Halmstads BK', 'Hamburger SV', 'Hampton & Rich.', 'Hannover 96', 'Hapoel Haifa', 'Hapoel Tel Aviv', 'Harras Hodoud', 'Hassania', 'Hatayspor', 'Hatta Club', 'Haugesund', 'Heart of Lions', 'Heart of Midl.', 'Hearts of Oak', 'Heerenveen', 'Helsingborgs IF', 'Heracles Almelo', 'Herf√∂lge BK', 'Hertha BSC', 'Hetten FC', 'Heusden-Zolder', 'Hibernian FC', 'Hibernians FC', 'Hidd SCC', 'Honv√©d', 'Huachipato', 'Hurac√°n', 'H√§cken', 'IFK G√∂teborg', 'IFK Mariehamn', 'Incheon Utd.', 'Indep. Santa Fe', 'Independiente', 'Inter', 'Inter Zapresic', 'Internacional', 'Ionikos Nikeas', 'Ismaily', 'Istanbulspor', 'Ittihad Alex', 'Ittihad Club', 'Ittihad Kalba', 'Ittihad Tanger', 'JEF Utd. Chiba', 'JMalucelli', 'JS Kabylie', 'JS Kairouan', 'JS Saoura', 'JSM Bejaia', 'Jabaquara-SP', 'Jagiellonia', 'Jeddah FC', 'Jelgava', 'Jeonbuk Hyundai', 'Johor DT', 'Jos√© G√°lvez', 'Julius Berger', 'Junior FC', 'Juv. √âvora', 'Juventude', 'Juventus', 'K. Erciyesspor', 'KAA Gent', 'KF La√ßi', 'KF Tirana', 'KF Vllaznia', 'KFCO Beerschot', 'KRC Genk', 'KS Samara', 'KSC Lokeren', 'KV Kortrijk', 'KV Mechelen', 'KV Oostende', 'KVC Westerlo', 'Kamatam. Sanuki', 'Karag√ºmr√ºk', 'Karmiotissa', 'Karpaty', 'Kashima Antlers', 'Kashiwa Reysol', 'Kasimpasa', 'Kawkab Marrak.', 'Kayserispor', 'Kazma SC', 'Kelantan FC', 'Khaleej', 'Khaleej FC U23', 'Khor Fakkan', 'Konyaspor', 'Krasnodar', 'Kristiansund', 'Kuwait SC', 'Kyoto Sanga', 'K√©nitra', 'LAFC', 'LB Ch√¢teauroux', 'LDU Quito', 'LOSC Lille', 'Lajeadense', 'Lan√∫s', 'Lausanne-Sport', 'Lazio', 'Lecce', 'Lech Poznan', 'Leeds', 'Legia Warszawa', 'Leicester', 'Leiria', 'Lekhwiya', 'Lens', 'Levante', 'Levski Sofia', 'Liaoning FC', 'Liverpool', 'Loko Moscow', 'Loko Plovdiv', 'Loko Tashkent', 'Londrina-PR', 'Los Angeles', 'Louletano', 'Lusitano VRSA', 'Luverdense', 'M. Tel Aviv', 'MAS Fes', 'MC Algiers', 'MC Oran', 'MFK Ko≈°ice', 'MO B√©ja√Øa', 'MTK Budapest', 'Maca√©', 'Madureira', 'Magwe FC', 'Majees SC', 'Malkiya Club', 'Malm√∂ FF', 'Man City', 'Man Utd', 'Manama Club', 'Maritzburg Utd.', 'Marseille', 'Mar√≠lia', 'Mar√≠timo', 'Matsumoto Yama.', 'Melbourne', 'Melbourne City', 'Mersin IY', 'Mes Kerman', 'Metalac', 'Metalist', 'Metalurg Skopje', 'MetroStars', 'Miami', 'Middlesbrough', 'Millonarios', 'Mirassol-SP', 'Mladost', 'Modena', 'Moghreb T√©touan', 'Mogi Mirim', 'Mohammedan', 'Molde', 'Monaco', 'Mondeville', 'Monterrey', 'Montr√©al', 'Moreirense', 'Moto Club', 'Muaither SC', 'Muangthong Utd.', 'Mumbai City', 'Muscat Club', 'Muzahimiyyah', 'M√°laga CF', 'NA Hussein Dey', 'NAC Breda', 'NK Istra', 'NK Lokomotiva', 'NK Maribor', 'NK Osijek', 'NK Sesvete', 'NK Solin', 'NK Varazdin', 'NY Cosmos', 'Nacional', 'Nacional-SP', 'Naft Missan', 'Nagoya Grampus', 'Najran SC', 'Najran SC U23', 'Napoli', 'Napredak', 'Naval', 'Naxxar Lions FC', 'Necaxa', 'Neftchi Baku', 'Nejmeh SC', 'Neuch√¢tel Xamax', 'New York', 'New York City', 'Newcastle', "Newell's", 'Nkana FC', 'North Qld Fury', 'Novi Pazar', 'Novorizontino', 'N√°utico', 'O. Khouribga', 'OFI Crete FC', 'OFK Beograd', 'OH Leuven', 'Odense BK', 'Oeste', 'Ohod Club', 'Olhanense', 'Olympiacos', 'Olympiacos B', 'Olympique Beja', 'Olympique Lyon', 'Oman Club', 'Once Caldas', 'Oper√°rio VG', 'Oper√°rio-PR', 'Oriental', 'Oriente P.', 'Orlando Pirates', 'Osmanlispor', 'Own Youth', 'PAOK Salonika', 'PAS Lamia', 'PEC Zwolle', 'PT Prachuap FC', 'Pachuca', 'Pacific FC', 'Pafos FC', 'Pakhtakor', 'Palestino', 'Palmeiras', 'Panathinaikos', 'Pandurii', 'Panetolikos', 'Panionios', 'Paran√°', 'Paris SG', 'Partizan', 'Paulista', 'Paysandu', 'Pa√ßos Ferreira', 'Penapolense', 'Perak', 'Persepolis', 'Persija Jakarta', 'Perth Glory', 'Petro Luanda', 'Petrojet', 'Petrolul', 'Pe√±arol', 'Plaza Amador', 'Plaza Colonia', 'Podbrezova', 'Ponte Preta', 'Portimonense', 'Portland', 'Portsmouth U21', 'Portuguesa', 'Puebla FC', 'Pyramids FC', 'QPR', 'Qadsia SC', 'Qarabag FK', 'Qatar SC', 'Quer√©taro FC', 'Quevilly Rouen', 'Quissam√£-RJ', 'R. Strasbourg', 'RB Bragantino', 'RB Salzburg', 'RCD Mallorca', 'RFC Seraing', 'RKC Waalwijk', 'RS Berkane', 'RSC Anderlecht', 'RSC Charleroi', 'Racing', 'Racing Club', 'Radnicki Obrenovac', 'Radnik', 'Raja Casablanca', 'Rangers', 'Rapid Bucharest', 'Ratchaburi FC', 'Ravenna', 'Rayo Vallecano', 'Reading', 'Real Betis', 'Real Madrid', 'Real Valladolid', 'Red Star', 'Rennes', 'Retired', 'Retr√¥', 'Rio Ave', 'River Plate', 'Rosario Central', 'Rosenborg', 'Rostov', 'Royal Antwerp', 'SC Braga', 'SC Freiburg', 'SE Gama', 'SH Shenhua', 'SM Caen', 'SPAL', 'SSC Napoli', 'SZ FC', 'SZ FC Res.', 'Safa Beirut SC', 'Sagan Tosu', 'Sagesse SC', 'Saham Club', 'Sampaio Corr√™a', 'San Francisco', 'San Lorenzo', 'San Mart√≠n (SJ)', 'Sanliurfaspor', 'Santa Clara', 'Santa Cruz', 'Santa Rita', 'Santo Andr√©', 'Santos', 'Santos Laguna', 'Saprissa', 'Schweinfurt 05', 'Seongnam FC', 'Seongnam Ilhwa', 'Sepahan', 'Sepsi OSK', 'Sert√£ozinho', 'Sevilla FC', 'Shabab Al-Ordon', 'Sharjah FC', 'Sheff Wed', 'Shillong Lajong', 'Shimizu S-Pulse', 'Shkendija', 'Shkumbini Peqin', 'Shoalah', 'Simurq', 'Sint-Truiden', 'Sitra Club', 'Sivasspor', 'Slaven Belupo', 'Slavia Prague', 'Slavia Sofia', 'Slo. Bratislava', 'Sloboda Uzice', 'Smouha', 'Sohar SC', 'Southampton', 'Sparta Prague', 'Sparta R.', 'Sport Boys', 'Sport Recife', 'Sport. Cristal', 'Sporting CP', 'St. Mirren', 'Stade Lavallois', 'Stade Malien', 'Stade Reims', 'Stade Tunisien', 'Staines Town FC', 'Standard Li√®ge', 'Steaua Bucharest', 'Stoke City', 'Sturm Graz', 'Sunderland', 'Suwon Bluewings', 'S√£o Bernardo', 'S√£o Caetano', 'S√£o Paulo', 'TSG Hoffenheim', 'Taliya SC', 'Taranto', 'Terek Grozny', 'Teteks Tetovo', 'Tiburones Rojos', 'Tigre', 'Tigres', 'Tigres UANL', 'Tishreen SC', 'Tobol Kostanay', 'Tokushima Vort.', 'Tom Tomsk', 'Tombense', 'Tondela', 'Toronto', 'Tottenham', 'Toulouse', 'Trabzonspor', 'Tricordiano-MG', 'Troyes', 'Tusker FC', 'Twente FC', 'T√°chira', 'U. Craiova', 'U. de Chile', 'UD Melilla', 'UD Salamanca', 'UNAM Pumas', 'US Ben Guerdane', 'US Boulogne', 'US Castanet', 'US Monastir', 'US Tataouine', 'USM Alger', 'USM Annaba', 'USM El Harrach', 'Udinese Calcio', 'Ufa', 'Ulsan Hyundai', 'Umm Salal SC', 'Uni. Cat√≥lica', 'Union SG', 'Unirea Urziceni', 'Universitario', 'Uni√£o Madeira', 'Unknown', 'Urawa Reds', 'Valencia', 'Valletta', 'Vardar', 'Vasco da Gama', 'Vejle BK', 'Vendsyssel FF', 'Vereya', 'VfB Stuttgart', 'VfL Bochum', 'Videoton FC', 'Viktoria Plzen', 'Vila Aurora', 'Vila Nova FC', 'Villarreal', 'Vit. Guimar√£es', 'Vitesse', 'Vit√≥ria Set√∫bal', 'Vizela', 'Volta Redonda', 'Vozdovac', 'V√§rnamo', 'V√©lez Sarsfield', 'WH Three Towns', 'Wadi Al-Nes', 'Wadi Degla', 'Wanderers', 'Watford', 'Wej SC', 'Wellington P.', 'West Brom', 'West Ham', 'Western Sydney', 'Western United', 'Wiener Neustadt', 'Willem II', 'Wilstermann', 'Wisla Krak√≥w', 'Without Club', 'Wolves', 'Wydad AC', 'Xamax', 'X√§z√§r L√§nk√§ran', 'Y. Malatyaspor', 'Yverdon Sport', 'Z. K√∂m√ºrspor', 'ZESCO United FC', 'Zaglebie Lubin', 'Zamalek', 'Zanaco FC', 'Zeljeznicar', 'Zenit S-Pb', 'Zob Ahan', 'Zulfi FC', '√Åguilas Pereira', '√ñrebro SK', '√ñrebro Syr.', 'ƒåukariƒçki']

In [55]:
len(club_involved_list)

935

Fee

In [56]:
fee_list = df['fee'].unique().tolist()

In [57]:
#fee_list.sort()
#print(fee_list)

In [58]:
df['fee'] = df['fee'].fillna('-')

In [59]:
df['fee'] = df['fee'].replace('?','-')

In [60]:
df['fee'] = df['fee'].apply(str.lower)

In [61]:
def get_type_operation(value):
    if 'loan' in value:
        return "loan"
    elif '‚Ç¨' in value:
        return "transfer"
    elif 'free' in value:
        return "free"
    else:
        return "-"

In [62]:
df['type_operation'] = df['fee'].apply(get_type_operation)

In [63]:
df['type_operation'].unique().tolist()

['-', 'loan', 'transfer', 'free']

Fee Cleaned

In [64]:
df['fee_cleaned'] = df['fee_cleaned'].fillna(0)

In [65]:
df['fee_cleaned'] = df['fee_cleaned']*1000000

Transfer Movement

In [66]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7858 entries, 0 to 7857
Data columns (total 15 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   club_name           7858 non-null   object
 1   player_name         7858 non-null   object
 2   age                 7858 non-null   int64
 3   position            7858 non-null   object
 4   club_involved_name  7858 non-null   object
 5   fee                 7858 non-null   object
 6   transfer_movement   7858 non-null   object
 7   transfer_period     7858 non-null   object
 8   fee_cleaned         7858 non-null   float64
 9   league_name         7858 non-null   object
 10  year                7858 non-null   int64
 11  season              7858 non-null   object
 12  country             7858 non-null   object
 13  specific position   7858 non-null   object
 14  type_operation      7858 non-null   object
dtypes: float64(1), int64(2), object(12)
memory usage: 921.0+ KB

In [67]:
df['transfer_movement'].unique()

array(['in', 'out'], dtype=object)

Transfer Period

In [68]:
df['transfer_period'].unique()

array(['Summer', 'Winter'], dtype=object)

League name

In [69]:
df['league_name'].unique()

array(['Saudi Professional League'], dtype=object)

Year

In [70]:
df['year'] = df['year'].apply(str)

In [71]:
df['year'].unique()

array(['2000', '2001', '2002', '2003', '2004', '2005', '2006', '2007',
       '2008', '2009', '2010', '2011', '2012', '2013', '2014', '2015',
       '2016', '2017', '2018', '2019', '2020', '2021', '2022', '2023',
       '2024'], dtype=object)

Season

In [72]:
df['season']

0       2000/2001
1       2000/2001
2       2000/2001
3       2000/2001
4       2000/2001
          ...
7853    2024/2025
7854    2024/2025
7855    2024/2025
7856    2024/2025
7857    2024/2025
Name: season, Length: 7858, dtype: object

Country

In [73]:
df['country'].unique()

array(['Saudi Arabia'], dtype=object)

In [74]:
df[df['fee'] == 'Retired']

Empty DataFrame
Columns: [club_name, player_name, age, position, club_involved_name, fee, transfer_movement, transfer_period, fee_cleaned, league_name, year, season, country, specific position, type_operation]
Index: []

In [75]:

# Verificar si 'Retired' est√° en la columna 'club_involved_name' y actualizar las columnas 'type_operation' y 'fee'
df.loc[df['club_involved_name'] == 'Retired', ['type_operation', 'fee']] = ['Retired', 'Retired']

In [83]:
df[df['fee']=='-']

,club_name,player_name,age,position,club_involved_name,fee,transfer_movement,transfer_period,fee_cleaned,league_name,year,season,country,specific position,type_operation
0,Al-Hilal SFC,Khaled Aziz,18,Midfield,Unknown,-,in,Summer,0.0,Saudi Professional League,2000,2000/2001,Saudi Arabia,Defensive Midfield,-
2,Al-Hilal SFC,Fahad Al-Ghesheyan,26,Forward,Al-Nasr SC,-,out,Summer,0.0,Saudi Professional League,2000,2000/2001,Saudi Arabia,Right Winger,-
8,Ittihad Club,Manaf Abushgeer,20,Midfield,Ittihad Club,-,in,Summer,0.0,Saudi Professional League,2000,2000/2001,Saudi Arabia,Left Midfield,-
9,Ittihad Club,Darci,31,Forward,Antalyaspor,-,out,Summer,0.0,Saudi Professional League,2000,2000/2001,Saudi Arabia,Left Winger,-
10,Ittihad Club,Macros Pereira,26,Forward,Seongnam Ilhwa,-,out,Summer,0.0,Saudi Professional League,2000,2000/2001,Saudi Arabia,Attack,-
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7833,Khaleej FC,Bander Al-Mutairi,33,Defence,Al-Fayha FC,-,in,Summer,0.0,Saudi Professional League,2023,2023/2024,Saudi Arabia,Left-Back,-
7834,Khaleej FC,Mansour Hamzi,31,Forward,Damac FC,-,in,Summer,0.0,Saudi Professional League,2023,2023/2024,Saudi Arabia,Second Striker,-
7839,Khaleej FC,Morato,30,Forward,Al-Faisaly FC,-,out,Summer,0.0,Saudi Professional League,2023,2023/2024,Saudi Arabia,Right Winger,-
7840,Khaleej FC,Hussain Al-Nuweqi,27,Defence,Al-Riyadh SC,-,out,Summer,0.0,Saudi Professional League,2023,2023/2024,Saudi Arabia,Right-Back,-
7841,Khaleej FC,Mohammed Al-Sahli,32,Forward,Al-Batin,-,out,Summer,0.0,Saudi Professional League,2023,2023/2024,Saudi Arabia,Right Winger,-

In [95]:
df['fee_cleaned'][(df['fee']!='-') & (df['type_operation']=='transfer')].mean()

3356959.6412556055

In [96]:
columns_to_replace = ['fee', 'fee_cleaned', 'type_operation']
df.loc[df['fee'] == '-', columns_to_replace] = np.nan

In [97]:
df.head(3)

,club_name,player_name,age,position,club_involved_name,fee,transfer_movement,transfer_period,fee_cleaned,league_name,year,season,country,specific position,type_operation
0,Al-Hilal SFC,Khaled Aziz,18,Midfield,Unknown,NaN,in,Summer,NaN,Saudi Professional League,2000,2000/2001,Saudi Arabia,Defensive Midfield,NaN
1,Al-Hilal SFC,Sami Al-Jaber,27,Forward,Wolves,loan transfer,out,Summer,0.0,Saudi Professional League,2000,2000/2001,Saudi Arabia,Centre-Forward,loan
2,Al-Hilal SFC,Fahad Al-Ghesheyan,26,Forward,Al-Nasr SC,NaN,out,Summer,NaN,Saudi Professional League,2000,2000/2001,Saudi Arabia,Right Winger,NaN

In [98]:
mean = df['fee_cleaned'].mean()
median = df['fee_cleaned'].median()
mode = df['fee_cleaned'].mode()
print('Media: ', mean)
print('Mediana: ', median)
print('Moda: ', mode)

Media:  334293.0735930736
Mediana:  0.0
Moda:  0    0.0
Name: fee_cleaned, dtype: float64